@layer utilities {

  .justify_space-between {
    justify-content: space-between
    }

  .gap_2rem {
    gap: 2rem
    }

  .w_90\% {
    width: 90%
    }

  .left_1rem {
    left: 1rem
    }

  .top_1rem {
    top: 1rem
    }

  .pl_3rem {
    padding-left: 3rem
    }

  .w_10\% {
    width: 10%
    }

  .pos_relative {
    position: relative
    }

  .justify_flex-end {
    justify-content: flex-end
    }

  .w_15px {
    width: 15px
    }

  .h_15px {
    height: 15px
    }

  .bg_red {
    background: red
    }

  .pos_absolute {
    position: absolute
    }

  .top_-0\.5 {
    top: calc(var(--spacing-0\.5) * -1)
    }

  .right_-0\.5 {
    right: calc(var(--spacing-0\.5) * -1)
    }

  .z_10 {
    z-index: 10
    }

  .max-w_60px {
    max-width: 60px
    }

  .min-w_60px {
    min-width: 60px
    }

  .w_100\% {
    width: 100%
    }

  .h_100\% {
    height: 100%
    }

  .bg_white {
    background: var(--colors-white)
    }

  .rounded_full {
    border-radius: var(--radii-full)
    }

  .d_flex {
    display: flex
    }

  .justify_center {
    justify-content: center
    }

  .items_center {
    align-items: center
    }

  .py_1rem {
    padding-block: 1rem
    }

  .text_gray\.400 {
    color: var(--colors-gray-400)
    }

  .size_20 {
    size: 20px
    }
}