@layer utilities {

  .h_auto {
    height: auto
    }

  .d_flex {
    display: flex
    }

  .gap_1rem {
    gap: 1rem
    }

  .overflow-x_scroll {
    overflow-x: scroll
    }

  .scroll_smooth {
    scroll-behavior: smooth
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .w_100\% {
    width: 100%
    }

  .px_6 {
    padding-inline: var(--spacing-6)
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .bg_white {
    background: var(--colors-white)
    }

  .rounded_3xl {
    border-radius: var(--radii-3xl)
    }

  .border_1px {
    border: 1px
    }

  .border-style_solid {
    border-style: solid
    }

  .border_gray\.200 {
    border-color: var(--colors-gray-200)
    }

  .cursor_pointer {
    cursor: pointer
    }
}