@layer utilities {

  .min-h_100vh {
    min-height: 100vh
    }

  .bg-gradient_to-bl {
    --gradient-stops: var(--gradient-from), var(--gradient-to);
    --gradient: var(--gradient-via-stops, var(--gradient-stops));
    background-image: linear-gradient(to bottom left, var(--gradient))
    }

  .from_pink\.700 {
    --gradient-from: var(--colors-pink-700)
    }

  .to_purple\.950 {
    --gradient-to: var(--colors-purple-950)
    }

  .rounded_32px {
    border-radius: 32px
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .bg_white {
    background: var(--colors-white)
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .w_80\% {
    width: 80%
    }

  .mx_auto {
    margin-inline: auto
    }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
    }

  .border_1px_solid {
    border: 1px solid
    }

  .border_gray\.200 {
    border-color: var(--colors-gray-200)
    }

  .flex_column {
    flex-direction: column
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .my_2rem {
    margin-block: 2rem
    }

  .focus\:border_orange\.700 {
    &:where(:focus, [data-focus]) {
      border-color: var(--colors-orange-700)
        }
    }

  .selected\:border_none {
    &:where([aria-selected=true], [data-selected]) {
      border-color: none
        }
    }

  .focus\:border_orange\.700 {
    &:where(:focus, [data-focus]) {
      border-color: var(--colors-orange-700)
        }
    }

  .selected\:border_none {
    &:where([aria-selected=true], [data-selected]) {
      border-color: none
        }
    }

  .d_grid {
    display: grid
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .pos_relative {
    position: relative
    }

  .pos_absolute {
    position: absolute
    }

  .top_1\.2rem {
    top: 1.2rem
    }

  .left_1rem {
    left: 1rem
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .border_2px_solid {
    border: 2px solid
    }

  .border_orange\.500 {
    border-color: var(--colors-orange-500)
    }

  .text_gray\.900 {
    color: var(--colors-gray-900)
    }

  .pl_3rem\! {
    padding-left: 3rem !important
    }

  .bg_transparent {
    background: var(--colors-transparent)
    }

  .focus\:border_orange\.700 {
    &:where(:focus, [data-focus]) {
      border-color: var(--colors-orange-700)
        }
    }

  .selected\:border_none {
    &:where([aria-selected=true], [data-selected]) {
      border-color: none
        }
    }

  .text_red {
    color: red
    }

  .mt_1rem {
    margin-top: 1rem
    }

  .w_100\% {
    width: 100%
    }

  .p_1rem {
    padding: 1rem
    }

  .rounded_24px {
    border-radius: 24px
    }

  .bg_orange\.500 {
    background: var(--colors-orange-500)
    }

  .text_white {
    color: var(--colors-white)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .cursor_pointer {
    cursor: pointer
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .size_20 {
    size: 20px
    }

  .text_\#fff {
    color: #fff
    }

  .md\:w_500px {
    @media screen and (min-width: 768px) {
      width: 500px
        }
    }
}