@layer utilities {
  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .\[\&_span\]\:animation-name_loading {
    & span {
      animation-name: loading
        }
    }

  .\[\&_span\]\:animation-duration_1\.4s {
    & span {
      animation-duration: 1.4s
        }
    }

  .\[\&_span\]\:animation-iteration-count_infinite {
    & span {
      animation-iteration-count: infinite
        }
    }

  .\[\&_span\]\:animation-fill-mode_both {
    & span {
      animation-fill-mode: both
        }
    }

  .\[\&_span\]\:w_5px {
    & span {
      width: 5px
        }
    }

  .\[\&_span\]\:h_5px {
    & span {
      height: 5px
        }
    }

  .\[\&_span\]\:rounded_50\% {
    & span {
      border-radius: 50%
        }
    }

  .\[\&_span\]\:d_inline-block {
    & span {
      display: inline-block
        }
    }

  .\[\&_span\]\:m_0_1px {
    & span {
      margin: 0 1px
        }
    }

  .\[\&_span\:nth-of-child\(2\)\]\:animation-delay_0\.2s {
    & span:nth-of-child(2) {
      animation-delay: 0.2s
        }
    }
}