@layer utilities {

  .mt_3 {
    margin-top: var(--spacing-3)
    }

  .justify_space-between {
    justify-content: space-between
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .h_6px {
    height: 6px
    }

  .rounded_full {
    border-radius: var(--radii-full)
    }

  .w_100\% {
    width: 100%
    }

  .h_auto {
    height: auto
    }

  .gap_1rem {
    gap: 1rem
    }

  .overflow-x_scroll {
    overflow-x: scroll
    }

  .scroll_smooth {
    scroll-behavior: smooth
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .w_400px {
    width: 400px
    }

  .p_3 {
    padding: var(--spacing-3)
    }

  .bg_gray\.200 {
    background: var(--colors-gray-200)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .shadow_sm {
    box-shadow: var(--shadows-sm)
    }

  .mr_auto {
    margin-right: auto
    }

  .bg_white {
    background: var(--colors-white)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .fs_2xs {
    font-size: var(--font-sizes-2xs)
    }

  .rounded_sm {
    border-radius: var(--radii-sm)
    }

  .min-w_120 {
    min-width: 120px
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .fs_xl {
    font-size: var(--font-sizes-xl)
    }

  .fs_xs {
    font-size: var(--font-sizes-xs)
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .w_120 {
    width: 120px
    }

  .h_120 {
    height: 120px
    }
}