@layer utilities {
  .h_100\% {
    height: 100%
    }

  .bg_gray\.100 {
    background: var(--colors-gray-100)
    }

  .pt_2rem {
    padding-top: 2rem
    }

  .px_1rem {
    padding-inline: 1rem
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .w_100\% {
    width: 100%
    }

  .h_auto {
    height: auto
    }

  .bg_cover {
    background-size: cover
    }

  .object_contain {
    object-fit: contain
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .mt_3 {
    margin-top: var(--spacing-3)
    }

  .w_500 {
    width: 500px
    }

  .h_320 {
    height: 320px
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }
}