@layer reset, base, tokens, recipes, utilities;

html,
body {
  height: 100vh !important;
}



@keyframes loading {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
