@layer reset, base, tokens, recipes, utilities;

@import './global.css';

@import './reset.css';

@import './tokens/index.css';

@import './tokens/keyframes.css';

@layer utilities {
  .bottom_0 {
    bottom: var(--spacing-0)
    }

  .min-h_100vh {
    min-height: 100vh
    }

  .bg-gradient_to-bl {
    --gradient-stops: var(--gradient-from), var(--gradient-to);
    --gradient: var(--gradient-via-stops, var(--gradient-stops));
    background-image: linear-gradient(to bottom left, var(--gradient))
    }

  .from_pink\.700 {
    --gradient-from: var(--colors-pink-700)
    }

  .to_purple\.950 {
    --gradient-to: var(--colors-purple-950)
    }

  .rounded_32px {
    border-radius: 32px
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .w_80\% {
    width: 80%
    }

  .mx_auto {
    margin-inline: auto
    }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
    }

  .border_1px_solid {
    border: 1px solid
    }

  .my_2rem {
    margin-block: 2rem
    }

  .d_grid {
    display: grid
    }

  .top_1\.2rem {
    top: 1.2rem
    }

  .border_2px_solid {
    border: 2px solid
    }

  .border_orange\.500 {
    border-color: var(--colors-orange-500)
    }

  .text_gray\.900 {
    color: var(--colors-gray-900)
    }

  .pl_3rem\! {
    padding-left: 3rem !important
    }

  .bg_transparent {
    background: var(--colors-transparent)
    }

  .selected\:border_none:where([aria-selected=true], [data-selected]) {
    border-color: none
        }

  .text_red {
    color: red
    }

  .mt_1rem {
    margin-top: 1rem
    }

  .p_1rem {
    padding: 1rem
    }

  .rounded_24px {
    border-radius: 24px
    }

  .bg_orange\.500 {
    background: var(--colors-orange-500)
    }

  .text_white {
    color: var(--colors-white)
    }

  .text_\#fff {
    color: #fff
    }

  .px_6 {
    padding-inline: var(--spacing-6)
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .rounded_3xl {
    border-radius: var(--radii-3xl)
    }

  .border_1px {
    border: 1px
    }

  .border-style_solid {
    border-style: solid
    }

  .border_gray\.200 {
    border-color: var(--colors-gray-200)
    }

  .cursor_pointer {
    cursor: pointer
    }

  .gap_2rem {
    gap: 2rem
    }

  .w_90\% {
    width: 90%
    }

  .left_1rem {
    left: 1rem
    }

  .top_1rem {
    top: 1rem
    }

  .pl_3rem {
    padding-left: 3rem
    }

  .w_10\% {
    width: 10%
    }

  .pos_relative {
    position: relative
    }

  .justify_flex-end {
    justify-content: flex-end
    }

  .w_15px {
    width: 15px
    }

  .h_15px {
    height: 15px
    }

  .bg_red {
    background: red
    }

  .pos_absolute {
    position: absolute
    }

  .top_-0\.5 {
    top: calc(var(--spacing-0\.5) * -1)
    }

  .right_-0\.5 {
    right: calc(var(--spacing-0\.5) * -1)
    }

  .z_10 {
    z-index: 10
    }

  .max-w_60px {
    max-width: 60px
    }

  .min-w_60px {
    min-width: 60px
    }

  .py_1rem {
    padding-block: 1rem
    }

  .text_gray\.400 {
    color: var(--colors-gray-400)
    }

  .size_20 {
    size: 20px
    }

  .justify_space-between {
    justify-content: space-between
    }

  .justify_center {
    justify-content: center
    }

  .h_6px {
    height: 6px
    }

  .rounded_full {
    border-radius: var(--radii-full)
    }

  .gap_1rem {
    gap: 1rem
    }

  .overflow-x_scroll {
    overflow-x: scroll
    }

  .scroll_smooth {
    scroll-behavior: smooth
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .w_400px {
    width: 400px
    }

  .p_3 {
    padding: var(--spacing-3)
    }

  .bg_gray\.200 {
    background: var(--colors-gray-200)
    }

  .shadow_sm {
    box-shadow: var(--shadows-sm)
    }

  .mr_auto {
    margin-right: auto
    }

  .bg_white {
    background: var(--colors-white)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .fs_2xs {
    font-size: var(--font-sizes-2xs)
    }

  .rounded_sm {
    border-radius: var(--radii-sm)
    }

  .min-w_120 {
    min-width: 120px
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .fs_xl {
    font-size: var(--font-sizes-xl)
    }

  .fs_xs {
    font-size: var(--font-sizes-xs)
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .w_120 {
    width: 120px
    }

  .h_120 {
    height: 120px
    }

  .items_center {
    align-items: center
    }

  .\[\&_span\]\:animation-name_loading span {
    animation-name: loading
        }

  .\[\&_span\]\:animation-duration_1\.4s span {
    animation-duration: 1.4s
        }

  .\[\&_span\]\:animation-iteration-count_infinite span {
    animation-iteration-count: infinite
        }

  .\[\&_span\]\:animation-fill-mode_both span {
    animation-fill-mode: both
        }

  .\[\&_span\]\:w_5px span {
    width: 5px
        }

  .\[\&_span\]\:h_5px span {
    height: 5px
        }

  .\[\&_span\]\:rounded_50\% span {
    border-radius: 50%
        }

  .\[\&_span\]\:d_inline-block span {
    display: inline-block
        }

  .\[\&_span\]\:m_0_1px span {
    margin: 0 1px
        }

  .\[\&_span\:nth-of-child\(2\)\]\:animation-delay_0\.2s span:nth-of-child(2) {
    animation-delay: 0.2s
        }

  .h_100\% {
    height: 100%
    }

  .bg_gray\.100 {
    background: var(--colors-gray-100)
    }

  .pt_2rem {
    padding-top: 2rem
    }

  .px_1rem {
    padding-inline: 1rem
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .w_100\% {
    width: 100%
    }

  .h_auto {
    height: auto
    }

  .bg_cover {
    background-size: cover
    }

  .object_contain {
    object-fit: contain
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .mt_3 {
    margin-top: var(--spacing-3)
    }

  .w_500 {
    width: 500px
    }

  .h_320 {
    height: 320px
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .focus\:border_orange\.700:where(:focus, [data-focus]) {
    border-color: var(--colors-orange-700)
        }

  @media screen and (min-width: 768px) {
    .md\:pos_relative {
      position: relative
    }

    .md\:bottom_auto {
      bottom: auto
    }

    .md\:w_500px {
      width: 500px
    }
        }
}